*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 100px auto;
    padding: 20px;
    
}

.grid {
    display: grid;
    height: 400px;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
}

.grid2 {
    display: grid;
    height: 400px;
    gap: 10px;
    grid-template-columns: 1fr 2fr;
}

.grid3 {
    display: grid;
    height: 400px;
    gap: 10px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
}

.col {
    min-width: 100px;
    min-height: 100px;
    background-color: #f0f0f0;
}

.col2{
    grid-row: 1 / 3;
}

.col3 {
    grid-column: 1 / 3;
}