@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

.container{
    width: 100%;
    max-width: 574px;
    margin: 0 auto;
    padding: 20px;
}

.active {
    color: rgba(0, 0, 255, 1) !important;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    border: 1px solid rgba(238, 238, 238, 1);
}

header .content nav {
    display: flex;
    gap: 26px;
    align-items: center;
}

.hero-section {
    margin-top: 66px;
}

.hero-section h1 {
    font-weight: 800;
    font-size: 35px;
}

.hero-section p {
    color: rgba(102, 102, 102, 1);
    font-size: 18px;
    font-weight: 400;
}

.form-section {
    margin-top: 36px;
}

.form-section .content {
    gap: 20px;
}

.form-section .content input {
    flex: 1;
    border: 2px solid rgba(238, 238, 238, 1);
    height: 48px;
    border-radius: 8px;
    outline: none;
    padding: 0 16px;
}

.form-section .content button {
    color: white;
    border: none;
    background-color: rgba(0, 0, 255, 1);
    font-size: 20px;
    padding: 12px 22px;
    border-radius: 8px;
}


.list-section .content {
    margin-top: 20px;
    flex-direction: column;
    gap: 12px;
}

.list-section .content .list-item {
    background-color: rgba(246, 246, 246, 1);
    padding: 12px 16px;
    height: 72px;
    border-radius: 8px;
    width: 100%;
}

.list-section .content .list-item button {
    border: 2px solid red;
    color: red;
    padding: 6px;
    border-radius: 8px;
    background-color: white;
}

.total-section p {
    color: rgba(102, 102, 102, 1);
    font-size: 18px;
    font-weight: 500;
}

.total-section span{
    font-weight: 700;
    color: #000;
}