* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

header { 
    background-color: rgba(217, 217, 217, 1);
    padding-top: 180px;
    padding-bottom: 40px
}

header .data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

header .logo {
    width: 235px;
    height: 56px;
    background-color: gray;
    border-radius: 24px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

header nav div {
    width: 56px;
    height: 56px;
    background-color: gray;
    border-radius: 50%;
}

main {
    margin-top: 40px;
    margin-bottom: 40px;
}

main .data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

main .image { 
    width: 360px;
    height: 348px;
    background-color: gray;
    border-radius: 16px;
}

main .menu { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    width: 100%;
}

main .menu div {
    width: 100%;
    height: 97px;
    background-color: gray;
    border-radius: 16px;
}

footer {
    background-color: rgba(217, 217, 217, 1);
    padding-top: 40px;
    padding-bottom: 40px;
}