* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

button {
    font-size: 16px;
    cursor: pointer;
    padding: 14px 28px;
    border: none;
    border-radius: 10px;
}

.flex {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    padding: 26px;
}
.flex-column {
    flex-direction: column;
}

.ptop-120 {
    padding-top: 120px;
}

.pbottom-130 {
    padding-bottom: 130px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: rgba(20, 32, 62, 0.24);
}

nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: rgba(20, 32, 62, 0.6);
}

button.login{
    background-color: rgba(246, 240, 232, 1);
    margin-right: 14px;
}

button.free-trial {
    background-color: rgba(20, 32, 62, 1);
    color: white;
}

section.hero {
    background-color: rgba(255, 252, 248, 1);
}

section.hero h1 {
    font-size: 66px;
    color: rgba(20, 32, 62, 1);
    text-align: center;
}

section.hero p {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.header {
    position: relative;
    max-width: 630px;
    margin: auto;
    padding: 10px;
}


.header .line {
    height: 1px;
    background-color: gray;
    width: 100%;
}

.header h2 {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    text-wrap: nowrap;
    background-color: white;
    padding: 0 10px 10px;
}

section.card-section .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;

}

img {
    width: 100%;
}

section.card-section .card h3 {
    font-size: 22px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    margin: 14px 0;
    color: rgba(20, 32, 62, 1);
}

section.card-section .card span {
    font-size: 14px;
    color: rgba(20, 32, 62, 0.7);
}