/* span {
    color: blue;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    text-decoration: underline;
    background-color: red;
    opacity: 0.8;
    padding: 20px;
    border: 2px dotted black;
    margin: 10px;
    display: block;
} */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: rgba(217, 217, 217, 1);
}


header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#logo {
    font-size: 36px;
    font-weight: 800;
    color: rgba(0, 0, 0, 1)
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

section {
    margin: 40px;
}
.box {
    background-color: rgba(217, 217, 217, 1);
    height: 300px;
    border-radius: 30px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    font-weight: 400;
}

footer {
    border-top: 1px solid black;
}

footer .footer-container {
    padding: 20px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;

}

.box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.footer-box {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: gray;
}

